.modal {
    height: 100%;
    width: 100%;
    background-color: rgb(81,73,69, 0.7);
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transform: scale(0); /* в обычном состоянии, когда окна не видно (false), его масштаб = 0 */
  }

  /* когда клинкули на строку (true) в тернарном операторе аттрибута ClassName происходит добавление данного класса
     главному div-у модального окна, так, окну возвращается его изначальный размер */
  .modal.show {
    transform: scale(1); 
  }

  .modal_content {
    padding: 20px;
    background-color: rgb(240,233,227);
    height: 200px;
    width: 400px;
  }

  .content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  .avatar{
    width: 100px;
    height: 100px;

  }

  .header{
    background-color: rgb(235,213,205)
  }