.modal {
    height: 100%;
    width: 100%;
    background-color: rgb(81,73,69, 0.7);
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transform: scale(0);
  }

  .modal.show {
    transform: scale(1);
  }

  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(240,233,227);
    height: 200px;
    width: 400px;
  }